/*
Flaticon icon font: Flaticon
Creation date: 30/05/2016 18:38
*/
@font-face {
  font-family: "Flaticon";
  src: url("../../font/Flaticon.eot");
  src: url("../../font/Flaticon.eot?#iefix") format("embedded-opentype"), url("../../font/Flaticon.woff") format("woff"), url("../../font/Flaticon.ttf") format("truetype"), url("../../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../../font/Flaticon.svg#Flaticon") format("svg"); } }

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-down-arrow:before {
  content: "\f100"; }

.flaticon-facebook-app-logo:before {
  content: "\f101"; }

.flaticon-twitter-logo:before {
  content: "\f102"; }

.flaticon-wikipedia-logo:before {
  content: "\f103"; }

.flaticon-youtube-logotype:before {
  content: "\f104"; }
