/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-fcs-logo {
  background-image: url(sprite.png);
  background-position: 0px -808px;
  width: 512px;
  height: 256px;
}
.icon-footer-logo {
  background-image: url(sprite.png);
  background-position: 0px -554px;
  width: 881px;
  height: 254px;
}
.icon-linux-lcd-152-192886 {
  background-image: url(sprite.png);
  background-position: -1180px -324px;
  width: 152px;
  height: 152px;
}
.icon-logo {
  background-image: url(sprite.png);
  background-position: -1180px 0px;
  width: 230px;
  height: 324px;
}
.icon-naukma-logo {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 1180px;
  height: 554px;
}
.icon-show-side-menu-btn {
  background-image: url(sprite.png);
  background-position: -1180px -476px;
  width: 112px;
  height: 80px;
}
