$black: #404041;
$blue: #00ADFF;
$font: 'Fira Sans', sans-serif;

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font: 20px $font;
  color: $black;
	position: relative;
}

a {
  color: $black;
  text-decoration: none;
  transition: all 0.2s;
}

.logo-wraps a {
	transition: none;
}

a:hover {
  color: $blue;
  text-decoration: none;
}

img {
	max-width: 100%;
}

#contact-us-btn {
  float: right;
  margin-right: 10px;
  margin-top: 8px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 10px 4px 7px;
  font: 14px $font;
  &:hover {
      background-color: rgb(0, 231, 255);
  }
}

.contact-form-wrap {
	display: none;
	padding: 20px 0;
	text-align: center;
	.contact-form {
    width: 86%;
		display: inline-block;
    ::-webkit-input-placeholder {
       color: #ccc;
    }
    :-moz-placeholder { /* Firefox 18- */
       color: #ccc;  
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       color: #ccc;  
    }
    :-ms-input-placeholder {  
       color: #ccc;  
    }
		input, textarea {
			width: 100%;
			border: 2px solid $blue;
      padding: 5px;
			box-sizing: border-box;
      outline: none;
      color: $blue;
      cursor: pointer;
      font: 14px $font;
      font-weight: bold;
      &:hover {
        background-color: rgba(0, 137, 255, 0.25);
      }
		}
		textarea {
			height: 121px;
      resize: none;
      border-bottom: 1px solid;
		}
		input {
			&[type='text'], &[type='email'] {
				height: 60px;
				border-right: none;
			}
			&[type='submit'] {
				height: 60px;
				margin-top: -7px;
        background: #fff;
        color: $blue;
        font-size: 22px;
        &:hover {
          background-color: $blue;
          color: #fff;
        }
			}
		}
		.forms-wrap-1 {
			float: left;
      width: 50%;
			span:not(:last-child) {
				input {
					border-bottom: none;
				}
			}
		}
		.forms-wrap-2 {
			float: left;
      width: 50%;
		}
	}
}

div.wpcf7-response-output:not(.wpcf7-mail-sent-ok) {
  margin: -5px 20px 20px;
}

.wpcf7-not-valid-tip {
  display: none !important;
}

form.invalid input.wpcf7-not-valid {
  background: #f0e3e3;
}

form.wpcf7-form.invalid .contact-form-wrap {
  display: block;
}

.content-column {
  padding: 20px;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 52px;
  position: fixed;
  top: 0;
	margin-bottom: 20px;
  border-bottom: 1px solid;
	z-index: 100;
	background: $blue;
	text-align: center;
  line-height: 52px;
}

body.logged-in header {
  top: 32px;
}

.up {
  position: fixed;
  right: 20px;
  font-size: 30px;
  bottom: 10px;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  cursor: pointer;
  z-index: 100;
  &:hover {
    opacity: 1;
  }
}

footer {
	margin: 70px 0 -30px;
  padding: 6px 0;
  border-top: 1px solid #404041;
	background: #EFFFEF;
	color: #ccc;
  position: relative;
}

.footer-content-wrap {
	display: block;
}

.footer-text-wrap {
  float: left;
  margin: 9px 0 0 30px;
}

.footer-text-wrap p {
	display: inline-block;
	border-right: 1px solid;
	color: #868686;
  font-size: 14px;
  padding-right: 5px;
}

.footer-text-wrap p:last-child {
	border-right: none;
}

.menu-wrap {
	width: 100%;
	position: relative;
}

.menu-wrap-2:first-child {
	margin: auto;
	position: relative;
	z-index: 1000;
}

.menu-wrap-2:first-child>ul.main-menu>li>a,
.mob-menu.menu-1 ul.main-menu li a {
  margin-left: 0;
  font-size: 14px;
  position: relative;
  top: -6px;
  font-weight: normal;
}

.menu-wrap-2:first-child ul.sub-menu li a,
.mob-menu.menu-1 ul.main-menu li a {
	font-size: 13px;
}

.menu-wrap-2:first-child ul.main-menu ul.sub-menu a {
	font-weight: normal;
}

.menu-wrap-2:nth-child(2) {
  height: 52px;
}

.menu-wrap-2:nth-child(2) ul.main-menu {
	width: 62%;
  padding-left: 10px;
  font-size: 12px;
  height: 52px;
  li:first-child ul.sub-menu {
    width: 130px;
  }
}

.menu-wrap-2:nth-child(2) ul.main-menu>li {
	position: relative;
	float: left;
  padding: 0 4px;
  &:hover {
    background: #1d85de;
    ul.sub-menu {
      display: block;
    }
  }
}

.menu-wrap-2:nth-child(2) ul.main-menu>li>a {
  display: block;
  color: #fff;

}

ul.main-menu {
	margin: 0;
  display: inline-block;
	list-style: none;
}

ul.main-menu li {
	display: inline-block;
}

.menu-wrap-2:first-child ul.main-menu>li {
    height: 18px;
	margin-right: 2px;
    padding-right: 6px;
    border-right: 1px solid;
}

.mob-menu.menu-1 ul.main-menu li {
	height: 18px;
	margin-right: 2px;
}

li.current-menu-item>a,
li.current-page-ancestor>a {
    color: #00ADFF;
}

li.current-menu-item:before,
li.current-page-ancestor:before {
	color: #00ADFF;
}

ul.sub-menu li:before {
	display: none;
}

ul:not(.side-menu) ul.sub-menu {
    display: none;
    position: absolute;
    margin-left: -4px;
    padding: 0;
    text-align: left;
    border: 1px solid;
    background: #fff;
    width: 200px;
    background: $blue;
    a {
      color: #fff;
    }
    li:hover {
      background: #1d85de;
    }
}

ul:not(.side-menu) ul.sub-menu a {
	display: block;
  padding: 0px 6px;
}

ul.sub-menu li {
  display: block;
  height: auto;
  line-height: 30px;
  &:not(:last-child) {
    border-bottom: 1px solid;
  }
}

ul.sub-menu a {
	font-size: 11px;
}

.menu-wrap-2:nth-child(2) ul {
	float: left; 
}

.menu-wrap-2:after {
	content: "";
	display: table;
	clear: both;
}

.menu-wrap-2 form.searchform {
	display: inline-block;
	position: relative;
  vertical-align: middle;
}

.menu-wrap-2 label.screen-reader-text {
	display: none;
}

.menu-wrap-2 form.searchform input[type="text"] {
    width: 120px;
    height: 26px;
    vertical-align: middle;
    font: 14px $font;
    border: 2px solid #fff;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    background: $blue;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    ::-webkit-input-placeholder {
       color: #fff;
    }
    :-moz-placeholder { /* Firefox 18- */
       color: #fff;  
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       color: #fff;  
    }
    :-ms-input-placeholder {  
       color: #fff;  
    }
    &:hover, &:focus {
      background-color: #fff;
      color: $blue;
      ::-webkit-input-placeholder {
         color: $blue;
      }
      :-moz-placeholder { /* Firefox 18- */
         color: $blue;  
      }
      ::-moz-placeholder {  /* Firefox 19+ */
         color: $blue;  
      }
      :-ms-input-placeholder {  
         color: $blue;  
      }
    }
}

.menu-wrap-2 form.searchform input[type="submit"] {
	height: 26px;
  line-height: 22px;
  font: 14px $font;
	padding-top: 0;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  border: 1px solid #fff;
  vertical-align: middle;
  &:hover {
      background-color: rgb(0, 231, 255);
  }
}

.show-menu-wrap {
	display: none;
	margin: 52px 0 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.show-menu-wrap p {
    text-align: center;
    background: #00ADFF;
    color: #fff;
    margin: 0;
    padding: 9px 0;
    cursor: pointer;
}

.show-menu {
	width: 0;
	height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #00ADFF;
  margin: auto;
  cursor: pointer;
}

.header-menus-mob-wrap {
	display: none;
  padding-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid;
  padding-top: 120px;
}

.mob-menu.menu-1 {
	text-align: center;
	margin-top: -10px;
}

.mob-menu.menu-2 {
	padding: 0 0 20px 20px;
  ul {
    padding: 0;
  }
}

.mob-menu.menu-2 li {
	display: block;
}

.mob-menu ul.main-menu li.menu-item-has-children:hover ul.sub-menu {
	display: none;
}

.logo-wraps {
	display: inline-block;
	margin-left: 40px;
	float: left;
  padding-top: 12px;
}

footer .logo-wraps {
	display: block;
}

.divider {
  width: 10px;
  height: 40px;
  margin-top: -5px;
  margin-left: 10px;
  border-left: 1px solid #000;
  margin-bottom: 6px;
  float: left;
}

a.logo {
  display: inline-block;
  margin: 0;
  float: left;
  font-size: 60px;
  text-decoration: none;
  color: #fff;
}

a.logo.naukma-logo {
  width: 28px;
	height: 27px;
	background: url(../../img/naukma-logo.png) left center no-repeat;
	background-size: cover;
}

a.logo.fcs-logo {
  width: 30px;
  height: 42px;
	background: url(../../img/logo.jpg) center center no-repeat;
	background-size: cover;
  margin-top: -6px;
}

a.logo.footer-logo {
    width: 210px;
    height: 60px;
	background: url(../../img/footer-logo.png) left center no-repeat;
	background-size: cover;
}

a.logo.naukma-logo:hover,
a.logo.fcs-logo:hover {
	// background-position: right center;
}

h3 {
	font-size: 34px;
}

h4 {
	font-size: 32px;
	margin: 30px auto;
}

h5 {
	font-size: 26px;
}

.news-block {
	display: inline-block;
	width: 100%;
  top: 70px;
	margin: auto;
	position: relative;
}

.page-content {
  width: 80%;
  min-height: 100%;
  top: 70px;
  margin: auto;
  position: relative;
}

/* .with-side-menu class is added via script.js */
.page-content.with-side-menu {
	width: 70%;
    margin-left: 300px;
    margin-top: -20px;
    padding-top: 20px;
}

body.page-template-archive-teacher .page-content p,
body.page-template-archive-student .page-content p {
	margin: 0;
}

body.page-id-15 .people-block,
body.page-id-11 .people-block {
  padding: 0;
  width: 17%;
  a {
    display: block;
    padding: 5px;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    &:before {
      display: block;
      font-size: 120px;
    } 
  }
}

.peoples-wrap {
	width: 100%;
}

.people-block {
	display: inline-block;
	width: 30%;
	float: left;
    margin-bottom: 30px;
    margin-right: 3%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid;
    text-align: left;
    font-size: 14px;
}

.people-block p {
	display: block !important;
	margin: 0;
}

.people-block p.people-name {
	font-size: 24px;
}

.teacher-block p.teacher-department,
.student-block p.student-course {
	margin: 6px 0;
}

.people-block img,
.student-block img {
	width: 100%;
	height: auto;
}

.people-top-wrap img {
	width: 300px;
	height: auto;
}

.people-top-wrap>p{
	float: left;
}

.people-top-wrap p, 
.people-top-wrap .people-titles-wrap {
	display: inline-block;
}

.people-top-wrap .people-titles-wrap {
	margin-left: 20px;
}

.people-top-wrap .people-titles-wrap h1 {
	margin-top: 20px;
}

.page-content a,
.news-piece-block a:not(.news-title) {
	font-style: italic;
}

ul.side-menu a {
	font-style: normal;
}

.page-content p a:hover,
.page-content ul a:hover {
    color: #00ADFF;
}

.grading-scale-wrap {
	overflow: scroll;
}

.page-content table {
	border-collapse: collapse;
}

.page-content table td {
	border: 1px solid;
	padding: 6px;
}

.news-block {
	display: inline-block;
}

.show-side-menu-btn {
	display: none;
  width: 36px;
  height: 25px;
  position: absolute;
  left: -6%;
  top: -12px;
  cursor: pointer;
	background: url(../../img/show-side-menu-btn.png) no-repeat;
	background-size: cover;
}

ul.side-menu {
  max-width: 230px;
  border-right: 1px solid #404041;
  background: #FBFBFB;
  position: absolute;
  height: 100%;
  left: -320px;
  list-style-type: none;
  top: -60px;
  padding-top: 90px;
  padding-right: 30px;
  z-index: 0;
  ul.sub-menu li {
    border-bottom: none;
  }
}

ul.side-menu li.current-menu-item>a {
	color: #00ADFF;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.news-wrap {
    display: block;
    padding: 0 3% 0 8%;
}

.new-excerpt {
	font-size: 16px;
    margin: 0 auto 12px;
}

.news-piece-block {
	display: block;
    /*width: 15%;*/
    width: 198px;
    text-align: left;
    margin-bottom: 20px;
    border: 2px solid;
    padding: 5px;
    -webkit-box-sizing: box-sizing;
    -moz-box-sizing: box-sizing;
    box-sizing: box-sizing;
}

.news-piece-block.wide {
	width: 420px;
}

.news-piece-block img {
	display: block;
}

.news-piece-block-text-wrapper a.news-title {
    /*border: 2px solid;
    padding: 4px 6px;*/
    font-weight: bold;
}

.news-piece-block-text-wrapper {
	overflow: auto;
}

body.home .news-piece-block:first-child {
	border: none;
}

body.home .news-piece-block:first-child p {
	color: #00ADFF;
	font-size: 20px;
}

.news-piece-block img {
	width: 100%;
	height: auto;
}

body.single-new img {
	height: auto;
}

body.single-new .page-content {
	overflow: auto;
}

.back-to-news-link {
	text-decoration: underline;
}

#googleMap {
  position: absolute;
  top: 140px;
  right: 0px;
	width: 60%;
	height: 196px;
}

.social-wrap {
	display: inline-block;
	position: relative;
    margin: 0 10px 0 4px;
}

.social-wrap:after {
	content: '';
	display: table;
	clear: both;
}

.icon {
	width: 22px;
	height: 22px;
	float: left;
	padding: 0;
	font: 26px "Flaticon";
	-webkit-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

.icon:before {
	position: relative;
	top: -3px;
}

.icon:not(:last-child) {
	margin-right: 12px;
}

.icon-fb:hover {
	color: #3B5998;
}

.icon-twitter:hover {
	color: #1DA1F2;
}

.icon-youtube:hover {
	color: #E62117;
}

.icon-wiki:hover {
	color: #949494;
}

@-moz-document url-prefix() {

  .news-piece-block {
    border: 3px solid;
  }

  .menu-wrap-2 form.searchform input[type="submit"] {
    height: 27px;
    line-height: 100% !important;
  }

  .contact-form-wrap .contact-form input, .contact-form-wrap .contact-form textarea {
    border: 3px solid $blue;
  }

  .contact-form-wrap .contact-form .forms-wrap-2 {
    margin-top: -1px;
  }

  .contact-form-wrap .contact-form textarea {
    height: 122px;
    border-bottom: 3px solid;
  }

  .contact-form-wrap .contact-form input[type="submit"] {
    margin-top: -3px;
  }

}

@media (max-width: 1366px) {

	.news-wrap {
		display: block;
		padding: 0 3% 0 6%;
	}

}

@media (max-width: 1076px) {

	footer {
		padding-bottom: 18px;
	}

	.footer-content-wrap {
	    display: inline-block;
	    margin-left: calc(50% - 285px);
	}

	footer .logo-wraps {
		margin-top: 26px;
	}

	.footer-text-wrap p {
		display: block;
		margin: 0;
		border-right: none;
	}

}

@media (max-width: 1024px) {

  ul.sub-menu li:not(:last-child) {
    border-bottom: none;
  }

  body.page-template-page-contact .page-content .first-text {
    margin-top: 280px;
  }

	#googleMap {
		width: 100%;
	}

  header {
    margin-bottom: 0;
  }

  .show-menu-wrap {
    display: block;
  }

  .menu-wrap-2 ul.main-menu {
    display: none;
  }

  .menu-wrap-2:first-child {
    // padding-top: 14px;
  }

  header .logo-wraps {
    margin: 0 auto;
    float: none;
  }

  body.page-template-page-about .page-content,
  body.page-template-archive-teacher .page-content,
  body.single-teacher .page-content,
  .page-content.with-side-menu {
      width: 86%;
      margin-left: 0;
      margin: auto;
    }

  ul.side-menu {
    display: none;
    position: absolute;
    height: auto;
    left: -6%;
    top: 0;
    padding: 0 10px;
    background-color: rgb(76, 76, 76);
    background-color: rgba(76, 76, 76, 0.82);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  ul.side-menu.sunken {
    top: 20px;
  }

  ul.side-menu li:not(.current-menu-item):not(.current-menu-ancestor)>a {
    color: #fff;
  }

  .show-side-menu-btn {
    display: block;
  }

  .show-side-menu-btn.sunken {
    top: 8px;
  }

  .menu-wrap-2 form.searchform {
    margin-top: -46px;
    margin-left: 20px;
  }

  .news-block, .page-content {
    top: 140px;
  }

}

@media (min-width: 994px) {

  .header-menus-mob-wrap {
    display: none !important;
  }

  ul.side-menu {
    display: block !important;
  }

}

@media (max-width: 994px) {

  .people-wrap {
    text-align: center;
    .people-block {
      width: 80%;
      margin: 0 auto 20px;
      float: none;
    }
  }

  body.page-id-15 .people-wrap,
  body.page-id-11 .people-wrap {
    text-align: center;
    .people-block {
      width: 80%;
      margin: 0 auto 20px;
      float: none;
      a {
        font-size: 28px;
      }
    }
  }

}

@media (max-width: 736px) {

  .contact-form-wrap {
    margin-top: -20px;
    padding: 0 0 20px;
    .contact-form .forms-wrap-1,
    .contact-form .forms-wrap-2 {
      width: 100%;
      input[type='text'], 
      input[type='email'] {
        border-right: 2px solid $blue;
      }
      textarea {
        border-top: none;
      }
    }
  }

}

@media (max-width: 620px) {

	footer {
		text-align: center;
		padding-top: 0;
	}

	footer .logo-wraps  {
		display: inline-block;
		float: none;
		margin: auto;
		margin-top: 20px;
	}

	.footer-text-wrap {
		float: none;
		margin: auto;
	}

}

@media (max-width: 580px) {

	.teachers-3-wrap {
		text-align: center;
	}

	.teacher-block {
		width: 70%;
		float: none;
		margin-right: 0;
	}

}

@media (max-width: 535px) {

	.news-wrap {
	    padding: 0 6%;
	}

	.news-piece-block.normal,
	.news-piece-block.wide {
		width: 86%;
	}

}

@media (max-width: 480px) {

  .menu-wrap-2 form.searchform input[type=text] {
    width: 70px;
    font-size: 12px;
  }

  .menu-wrap-2 form.searchform input[type=submit] {
    font-size: 10px;
  }

  .menu-wrap-2 form.searchform {
    margin-left: 10px;
  }

  #contact-us-btn {
    margin-top: 14px;
    padding: 6px 2px 7px;
    font-size: 10px;
  }

}